{% extends "base.html" %}
{% block content %}

<!-- Zentrierter Hauptinhalt -->
<div class="flex flex-col items-center justify-center text-center px-4 py-16">
  <h1 class="text-white text-2xl font-bold mb-6">Willkommen zum <i class="fa-solid fa-circle-nodes"></i> IP-Diff-Dashboard</h1>
  <a href="https://netbox.avemo-it.cloud/"><img src="/static/netbox_logo.svg" alt="NetBox Logo" class="h-16 sm:h-20 mb-6 logo-hover"></a>
  <div class="my-8"></div>
  <h4 class="text-white text-base mb-4 font-semibold">Wähle eine Ansicht:</h4>
  <div class="flex flex-col sm:flex-row gap-4 justify-center">
    <a href="/snapshots" class="bg-gray-700 hover:bg-gray-600 text-white px-6 py-3 rounded-lg transition">
      <i class="fas fa-file-alt mr-2"></i> Übersicht
    </a>
    <a href="/diffs" class="bg-purple-700 hover:bg-purple-600 text-white px-6 py-3 rounded-lg transition">
      <i class="fas fa-box-open mr-2"></i> Änderungen
    </a>
  </div>
</div>

{% endblock %}